<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="author" content="単スレッド <singlethreadzzz@gmail.com>">
    <meta name="description" content="DIM库存管理系统日志查询页">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日志查询</title>
	<head th:replace="head"></head>
	
    <script type="text/javascript" src="../static/js/goodsManage/goodsManage.js" th:src="@{/static/js/goodsManage/goodsManage.js}"></script>
    
    <head th:replace="inline"></head>
</head>

<body>
	<header th:replace="header"></header>
 
	<footer th:replace="footer"> </footer>
</body>

</html>