<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="author" content="単スレッド <singlethreadzzz@gmail.com>">
    <meta name="description" content="DIM库存管理系统商品管理页">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIM库存管理系统</title>
	<head th:replace="head"></head>
	
	<head th:replace="dataTableHead"></head>
	<head th:replace="fileInputHead"></head>
	<link href="../static/css/goodsManage/goodsManage.css" th:href="@{/static/css/goodsManage/goodsManage.css}" rel="stylesheet"></link>
    <script type="text/javascript" src="../static/js/goodsManage/goodsManage.js" th:src="@{/static/js/goodsManage/goodsManage.js}"></script>
    
    <head th:replace="inline"></head>
</head>

<body>
	<header th:replace="header"></header>
    <div id="mainContainer" class="container">
        <div class="stockwarning">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <h3 class="page-header">商品管理</h3>
                    <a href="goodsManage.html" th:href="@{/goodsManage}" class="btn btn-primary active" role="button">商品编辑</a>
                    <a href="goodsTypeManage.html" th:href="@{/goodsTypeManage}" class="btn btn-primary" role="button">商品类型编辑</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h4 class="page-header">商品编辑</h4>
                    <a id="addGoods" class="btn btn-primary" role="button">新增</a>
                    <a id="updateGoods" class="btn btn-primary bottom" role="button">修改</a>
                    <a id="deleteGoods" class="btn btn-primary bottom" role="button">删除</a>
                    <a id="uploadGoodsImage" class="btn btn-primary bottom" role="button">上传商品图片</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h4 class="page-header">商品信息</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table id="goodsTable" class="table table-striped table-bordered" style="width: 100%">
						<thead>
							<tr>
								<th width="5%">
									<input type="checkbox" class="checkall" />
								</th>
								<th width="15%">商品名称</th>
								<th width="10%">商品编码</th>
								<th width="10%">商品类型名称</th>
								<th width="10%">商品库存</th>
								<th width="10%">商品进货价</th>
								<th width="10%">商品售出价</th>
								<th width="20%">商品描述</th>
								<th width="10%">是否上传图片</th>
							</tr>
						</thead>
					</table>
                </div>
            </div>
        </div>
    </div>
	<footer th:replace="footer"> </footer>
    <div class="modal fade" id="goodsEdit" tabindex="-1" role="dialog" aria-labelledby="goodsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="goodsModalLabel">商品编辑</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="goodsForm">
                        <div class="form-group" style="display: none;">
                            <label class="col-sm-2 control-label">商品ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="goodsId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsName" class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="goodsName" placeholder="请输入商品名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsCode" class="col-sm-2 control-label">商品编码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="goodsCode" placeholder="请输入商品编码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsTypeCode" class="col-sm-2 control-label">商品类型</label>
                            <div class="col-sm-10">
                            	<select class="form-control" id="goodsTypeCode"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsPurchasePrice" class="col-sm-2 control-label">商品进货价格</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="goodsPurchasePrice" placeholder="请输入商品进货价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsSellPrice" class="col-sm-2 control-label">商品售出价格</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="goodsSellPrice" placeholder="请输入商品售出价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goodsDescribe" class="col-sm-2 control-label">商品描述</label>
                            <div class="col-sm-10">
                                <textarea  rows="3" class="form-control" id="goodsDescribe" placeholder="请输入商品描述"></textarea>
                        	</div>
                        </div>
                        <div class="form-group" style="display: none;" id="errorDiv">
							<div class="col-sm-12 text-center">
								<label id="errorLabel" style="color: red;"></label>
							</div>
						</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="saveOrUpdate">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="imageInputModal" tabindex="-1" role="dialog" aria-labelledby="imageInputModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="imageInputModalLabel">商品编辑</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="imageInputForm">
                        <div class="form-group">
                            <label for="goodsImagePreview" class="col-sm-3 control-label">商品当前图片</label>
                            <div class="col-sm-9">
                    			<img id="goodsImagePreview" width="150px">
                        	</div>
                        </div>
                        <div class="form-group">
                            <label for="goodsImage" class="col-sm-3 control-label">上传图片</label>
                            <div class="col-sm-9">
                    			<input type="file" name="goodsImage" id="goodsImage" class="file-loading" />
                        	</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>