<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="author" content="単スレッド <singlethreadzzz@gmail.com>">
    <meta name="description" content="DIM库存管理系统销售管理页">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIM库存管理系统</title>
	<head th:replace="head"></head>
	
    <script type="text/javascript" src="../static/js/salesManage/salesManage.js" th:src="@{/static/js/salesManage/salesManage.js}"></script>
    <link href="../static/css/salesManage/salesManage.css" th:href="@{/static/css/salesManage/salesManage.css}" rel="stylesheet"></link>
    
    <head th:replace="inline"></head>
</head>

<body>
	<header th:replace="header"></header>
    <div class="container">
        <div class="stockwarning" id="noSeaching">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3 class="page-header">销售管理</h3>
                </div>
            </div>
        </div>
        <div id="seaching" style="display: none;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h3 class="page-header">销售管理</h3>
                </div>
            </div>
        </div>
    </div>
	<footer th:replace="footer"> </footer>
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="purchaseModalLabel">进货管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="purchaseForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">email@example.com</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datatime" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" id="datatime" placeholder="datatime">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="purchaseQuantity" class="col-sm-2 control-label">进货数</label>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">                            
                                <input type="number" class="form-control" value="0" id="purchaseQuantity">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sellModalLabel">售出管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="sellForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">email@example.com</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date" class="col-sm-2 control-label">售出日期</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="date" placeholder="date">
                            </div>
                            <label for="time" class="col-sm-2 control-label">售出时间</label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" id="time" placeholder="time">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sellQuantity" class="col-sm-2 control-label">售出数</label>
                            <div class="col-sm-10">                            
                                <input type="number" class="form-control" value="0" id="sellQuantity">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>