<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="author" content="singlethreadzzz <singlethreadzzz@gmail.com>">
    <meta name="description" content="DIM库存管理系统数据展示页">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>数据展示</title>
	<head th:replace="head"></head>
	
   	<script type="text/javascript" src="../static/js/dataDisplay/dataDisplay.js" th:src="@{/static/js/dataDisplay/dataDisplay.js}"></script>
	
	<head th:replace="inline"></head>
</head>

<body>
    <header th:replace="header"></header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3 class="page-header">数据展示</h3>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="page-header">当月数据展示</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月销售额top10</h5>
                    <div id="nowTop"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月净利润top10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月净利润low10</h5>
                    <div id="nowLow"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="page-header">上月数据展示</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">上月月销售额top10</h5>
                    <div id="nowTop"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">上月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">上月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">上月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="page-header">年度数据展示</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">年度销售额top10</h5>
                    <div id="nowTop"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">年度销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h5 class="page-header">当月销售额low10</h5>
                    <div id="nowLow"></div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <br>
                <p class="text-muted">Copyright © 2019 singlethreadzzz</p>
            </div>
        </div>
    </footer>
</body>

</html>