<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<form th:id="addUser" th:action="@{/addUser}" th:object="${user}"
			th:method="POST">
 			用户名: <input type="text" value="" th:field="*{userAccount}">
			用户密码: <input type="text" value="" th:field="*{userPassword}">
			用户昵称: <input type="text" value="" th:field="*{userName}">
			<select th:field="*{roleId}" >
			    <option value="1" >超级管理员</option>
			    <option value="2" >员工</option>
			</select> 
			<input type="submit" value="Submit" />
			<input type="reset" value="Reset" />
		</form>
		<h1 th:text="${massage}"></h1>
	</div>
</body>
</html>